# Fichiers système
.DS_Store

# Backend Java/Maven
/backend/target/
*.class
*.jar

# Frontend Node/React
/frontend/node_modules/
/frontend/build/
/frontend/dist/

# Archives
*.zip
*.tar.gz

# IDE
.idea/
*.iml
